Продвинутые коллекции

Frozen set

In [1]:
a = set('qwert')

In [2]:
a

{'e', 'q', 'r', 't', 'w'}

In [3]:
b = frozenset('qwert')

In [4]:
b

frozenset({'e', 'q', 'r', 't', 'w'})

In [5]:
a == b

True

In [6]:
a-b

set()

In [7]:
a | b

{'e', 'q', 'r', 't', 'w'}

In [8]:
a.add(1)
a

{1, 'e', 'q', 'r', 't', 'w'}

In [9]:
b.add(1)

AttributeError: 'frozenset' object has no attribute 'add'

Модуль collections

In [10]:
import collections

Counter

In [11]:
set(list('ababshshdjfk'))

{'a', 'b', 'd', 'f', 'h', 'j', 'k', 's'}

In [12]:
c = collections.Counter()
c

Counter()

In [13]:
c = collections.Counter('ababdhfldsab')
c

Counter({'a': 3, 'b': 3, 'd': 2, 'h': 1, 'f': 1, 'l': 1, 's': 1})

In [14]:
c['x']

0

In [15]:
c['a']

3

In [16]:
d1 = dict(c)
d1

{'a': 3, 'b': 3, 'd': 2, 'h': 1, 'f': 1, 'l': 1, 's': 1}

In [17]:
print(d1.get('x'))

None

In [20]:
c = collections.Counter(['aaa', 4, 'bbb', 2, 4])
c

Counter({'aaa': 1, 4: 2, 'bbb': 1, 2: 1})

In [21]:
c = collections.Counter({'aaa':4, 'bbb':5})
c

Counter({'aaa': 4, 'bbb': 5})

In [23]:
c = collections.Counter(cats=4, dog=5)
c

Counter({'cats': 4, 'dog': 5})

In [24]:
c.update(['cats'])

In [25]:
c

Counter({'cats': 5, 'dog': 5})

In [26]:
c['cats'] += 3

In [27]:
c

Counter({'cats': 8, 'dog': 5})

In [28]:
from collections import Counter

In [29]:
Counter('aabbcc')

Counter({'a': 2, 'b': 2, 'c': 2})

In [30]:
Counter('aaaabb')

Counter({'a': 4, 'b': 2})

In [31]:
c = collections.Counter(a=4, b=3, c=0, d=-2, e=-15, g=3)
list(c.elements())

['a', 'a', 'a', 'a', 'b', 'b', 'b', 'g', 'g', 'g']

In [32]:
for e in c.elements():
    print(e)

a
a
a
a
b
b
b
g
g
g

In [33]:
for e,qty in c.most_common(3):
    print(e,qty)

a 4
b 3
g 3

In [34]:
c = collections.Counter(a=4, b=2, d=-2, x=11)
d = collections.Counter(a=1, b=2, d=4, g=-5, h=0)
c.subtract(d)
c

Counter({'a': 3, 'b': 0, 'd': -6, 'x': 11, 'g': 5, 'h': 0})

In [35]:
c = collections.Counter(a=4, b=2, c=0, d=-2)
d = collections.Counter()
d.subtract(c)
d

Counter({'a': -4, 'b': -2, 'c': 0, 'd': 2})

In [36]:
c = collections.Counter(a=4, b=2, c=0, d=-2)
c.subtract('aabdddc')
c

Counter({'a': 2, 'b': 1, 'c': -1, 'd': -5})

In [37]:
c = collections.Counter(a=4, b=2, c=0, d=-2)
d = collections.Counter(a=1, b=2, c=0, d=4, g=-5)
c.update(d)
c

Counter({'a': 5, 'b': 4, 'c': 0, 'd': 2, 'g': -5})

In [38]:
c = collections.Counter(a=4, b=2, c=0, d=-2)
c.update(['x','x','x'])
c

Counter({'a': 4, 'b': 2, 'c': 0, 'd': -2, 'x': 3})

In [39]:
c = collections.Counter(a=4, b=2, c=0, d=-2)
d = collections.Counter(a=1, b=2, c=0, d=4, g=-5)

In [40]:
c+d

Counter({'a': 5, 'b': 4, 'd': 2})

In [41]:
c-d

Counter({'a': 3, 'g': 5})

In [42]:
c&d

Counter({'a': 1, 'b': 2})

In [43]:
c|d

Counter({'a': 4, 'b': 2, 'd': 4})

In [44]:
+c

Counter({'a': 4, 'b': 2})

In [45]:
-c

Counter({'d': 2})

collections.defaultdict

In [51]:
sentence = '''The red for jumped over the fence 
and ran to the zoo for food.'''
words = sentence.split(' ')
reg_dict = {}
for ind,word in enumerate(words):
    if word in reg_dict:
        reg_dict[word] += [ind]
    else:
        reg_dict[word] = [ind]
reg_dict

{'The': [0],
 'red': [1],
 'for': [2, 12],
 'jumped': [3],
 'over': [4],
 'the': [5, 10],
 'fence': [6],
 '\nand': [7],
 'ran': [8],
 'to': [9],
 'zoo': [11],
 'food.': [13]}

In [52]:
list()

[]

In [53]:
from collections import defaultdict
sentence = '''The red for jumped over the fence 
and ran to the zoo for food.'''
words = sentence.split(' ')
d = defaultdict(list)
for ind,word in enumerate(words):
    d[word] += [ind]
d

defaultdict(list,
            {'The': [0],
             'red': [1],
             'for': [2, 12],
             'jumped': [3],
             'over': [4],
             'the': [5, 10],
             'fence': [6],
             '\nand': [7],
             'ran': [8],
             'to': [9],
             'zoo': [11],
             'food.': [13]})

In [54]:
from collections import defaultdict
sentence = '''The red for jumped over the fence 
and ran to the zoo for food.'''
words = sentence.split(' ')
d = defaultdict(list)
for ind,word in enumerate(words):
    d[word].append(ind)
d

defaultdict(list,
            {'The': [0],
             'red': [1],
             'for': [2, 12],
             'jumped': [3],
             'over': [4],
             'the': [5, 10],
             'fence': [6],
             '\nand': [7],
             'ran': [8],
             'to': [9],
             'zoo': [11],
             'food.': [13]})

OrderedDict

In [55]:
from collections import OrderedDict

In [56]:
od = OrderedDict()
od

OrderedDict()

In [57]:
od_a = OrderedDict(x=2, z=3, v=4)
od_a

OrderedDict([('x', 2), ('z', 3), ('v', 4)])

In [58]:
od_b = OrderedDict(z=3, v=4, x=2)
od_b

OrderedDict([('z', 3), ('v', 4), ('x', 2)])

In [59]:
od_a == od_b

False

In [61]:
d_a = dict(od_a)
d_a

{'x': 2, 'z': 3, 'v': 4}

In [63]:
d_b = dict(od_b)
d_b

{'z': 3, 'v': 4, 'x': 2}

In [65]:
d_a == d_b

True

collections.namedtuple

In [66]:
NAME = 0
VALUE = 1

In [67]:
c1 = ('Masha', 42)

In [68]:
c1[0]

'Masha'

In [69]:
c1[NAME]

'Masha'

In [70]:
from collections import namedtuple

In [73]:
Point = namedtuple('Point', ['x','y'])
p = Point(11,12)
p

Point(x=11, y=12)

In [74]:
p.x

11

In [75]:
p.y

12

In [76]:
type(p)

__main__.Point

In [77]:
Point

__main__.Point

In [78]:
type(Point)

type

In [79]:
type(tuple)

type

In [80]:
p2 = Point(y=7, x=11)

In [81]:
p2

Point(x=11, y=7)

In [82]:
p2.x = 8

AttributeError: can't set attribute

In [83]:
p[0] + p[1]

23

In [85]:
p.x + p.y

23

In [84]:
a,b = p
a, b

(11, 12)

In [86]:
Point2 = namedtuple('Point2', 'x y z')
d = {'x':11, 'y':22, 'z':0}
Point2(**d)

Point2(x=11, y=22, z=0)

In [87]:
s = namedtuple('MyPoint', ['x','y'])
s(x=11,y=22)

MyPoint(x=11, y=22)

In [88]:
Point = namedtuple('Point', ['x','2y','z','def'])

ValueError: Type names and field names must be valid identifiers: '2y'

In [89]:
Point = namedtuple('Point',['x','2y','z','x','def'], rename = True)
Point._fields

('x', '_1', 'z', '_3', '_4')

In [91]:
NetworkAddress = namedtuple('NetworkAddress', ['hostname','port'])
a = NetworkAddress('www.python.org', 80)
a.hostname

'www.python.org'

In [92]:
a.port

80

In [93]:
type(a) == tuple

False

In [94]:
isinstance(a, tuple)

True

In [ ]:
import csv
with open ('employees.csv', 'r') as f:
    f_csv = csv.reader(f)
    EmployeeRecord = namedtuple('EmployeeRecord', next(f_csv))
    for line in f_csv:
        emp1 = EmployeeRecord.make(line)
        print(emp1.name, emp1.title)

In [97]:
Point = namedtuple('Point', ['x','y'])

In [98]:
t = [11, 22]
Point._make(t)

Point(x=11, y=22)

In [99]:
p = Point(x=11, y=22)
d1 = p._asdict()
d1

{'x': 11, 'y': 22}

In [100]:
for k,v in d1.items():
    print(k,v)

x 11
y 22

In [101]:
p = Point(x=11, y=22)
p2 = p._replace(x=33)
p2

Point(x=33, y=22)

In [102]:
p is p2

False

In [103]:
p

Point(x=11, y=22)

In [106]:
Account = namedtuple('Account', 'owner balance transaction_count')
default_account = Account('<owner name>', 0.0, 0)
johns_account = default_account._replace(owner='John')
janes_account = default_account._replace(owner='Jane')

In [107]:
default_account

Account(owner='<owner name>', balance=0.0, transaction_count=0)

In [108]:
johns_account

Account(owner='John', balance=0.0, transaction_count=0)

In [109]:
janes_account

Account(owner='Jane', balance=0.0, transaction_count=0)

In [110]:
p._fields

('x', 'y')

In [112]:
Color = namedtuple('Color', 'red green blue')
Pixel = namedtuple('Pixel', Point._fields + Color._fields)
px1 = Pixel(11, 22, 128, 255, 0)
px1

Pixel(x=11, y=22, red=128, green=255, blue=0)

In [113]:
px2 = Pixel(x=11, y=22, red=128, green=255, blue=0)
px2

Pixel(x=11, y=22, red=128, green=255, blue=0)

In [114]:
getattr(p, 'x')

11

In [115]:
getattr(px1,'red')

128

In [116]:
fields = ['red','y','x']
for field in fields:
    print(getattr(px2, field))

128
22
11

Модуль enum

In [119]:
from enum import Enum,auto
class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3

In [121]:
print(Color.RED)

Color.RED

In [122]:
print(repr(Color.RED))

<Color.RED: 1>

In [123]:
type(Color.RED)

In [124]:
isinstance(Color.GREEN, Color)

True

In [126]:
class Color2(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3
    GRAY = auto()
    NOT_SET = None

In [127]:
Color2.GRAY

In [129]:
Color2.NOT_SET

In [130]:
class Shake(Enum):
    VANILLA = 7
    CHOCOLATE = 4
    COOKIES = 9
    MINT = 3
for shake in Shake:
    print(shake)

Shake.VANILLA
Shake.CHOCOLATE
Shake.COOKIES
Shake.MINT

In [131]:
apples = {}
apples[Color.RED] = 'red delicious'
apples[Color.GREEN] = 'granny smith'
apples == {Color.RED:'red delicious', Color.GREEN:'granny smith'}

True

In [132]:
Color(1)

In [133]:
Color['RED']

In [134]:
member = Color.RED
member.name, member.value

('RED', 1)

In [135]:
Color.RED.value

1

In [136]:
class Shape (Enum):
    QWE = 2
    QWE = 3

TypeError: 'QWE' already defined as 2

In [137]:
class Shape(Enum):
    QWE = 2
    RTY = 1
    UIO = 3
    QWE_ZXC = 2

In [138]:
Shape.QWE

In [139]:
Shape.QWE_ZXC

In [140]:
Shape(2)